// Font size
$font-size-base = 16px;

// Colors
$white = #FFFFFF;
$black = #000000;
$ultramarine-blue = #3369F3;
$cultured = #F5F5F5;
$light-silver = #D9D9D9;
$spanish-gray = #999999;
$deep-carmine-pink = #FF3333;

// Aliases
// – Colors
$color-white = $white;
$color-black = $black;
$color-ultramarine-blue = $ultramarine-blue;
$color-cultured = $cultured;
$color-light-silver = $light-silver;
$color-spanish-gray = $spanish-gray;
$color-deep-carmine-pink = $deep-carmine-pink;

// – Backgrounds
$bg-white = $white;
$bg-black = $black;
$bg-ultramarine-blue = $ultramarine-blue;
$bg-cultured = $cultured;
$bg-light-silver = $light-silver;
$bg-spanish-gray = $spanish-gray;
$bg-deep-carmine-pink = $deep-carmine-pink;
