.dialog
  display grid

  width 100%
  max-width set-rem(380px)
  margin auto
  padding set-rem(32px) set-rem(24px)

  border-radius set-rem(2px)
  background $bg-white
  box-shadow 0 0 set-rem(6px) rgba(0, 0, 0, 0.16)
  grid-row-gap set-rem(32px)



