.sitemap
  position fixed
  right 0
  bottom 128px

  display grid

  padding set-rem(8px) set-rem(16px)

  background rgba($bg-black,0.4)
  grid-row-gap set-rem(8px)

  &__title
    set-font(14px, 600)
    color $color-white

  &__list
    display grid
    grid-row-gap set-rem(4px)

    ul
      margin 0
      padding 0

    li
      padding 0

      list-style none

    a
      set-font(12px)
      color $color-white

