@import '../../styles/helpers/index.styl'
.form-input
  set-font(16px, 300, 1)
  transition border 0.3s, color 0.3s

  color $color-black
  border none
  border-bottom 1px solid $color-black
  outline none

  &::placeholder
    set-font(14px, 300, 1)
    color rgba($color-black, 0.2)

  &:focus
    border-bottom 1px solid $color-ultramarine-blue

  &:disabled
    background inherit
