@import '../../styles/helpers/index.styl'
.error
  display flex
  align-items center
  flex-direction column
  justify-content center

  width set-rem(312px)

  &__code
    set-font(72px, 600)
    margin-bottom set-rem(8px)

  &__message
    set-font(20px, 600)
    margin-bottom set-rem(32px)
