@import '../../../styles/helpers/index.styl'
.chat-create
  display flex

  &__button
    display flex
    align-items center

    padding 4px 16px

    cursor pointer
    transition 0.3s

    background $bg-cultured

    svg
      width 24px
      height 24px

    &:hover
      background darken($bg-cultured,10deg)
