@import '../../styles/helpers/index.styl'
.chat-dialog
  display grid
  grid-template-columns set-rem(320px) 1fr

  height 100vh

.chat-aside
  display grid

  height 100vh

  border-right 1px solid #000000
  background $bg-cultured
  grid-template-rows auto 1fr auto

  &__main
    display flex
    overflow auto
    align-items flex-start
    flex-direction column

    padding set-rem(16px) 0
    grid-row-gap set-rem(8px)
    grid-template-rows max-content

  &__footer
    border-top 1px solid #000000
    background $bg-cultured

  &__settings
    display flex
    align-items center
    justify-content center

    padding set-rem(8px)

    cursor pointer
    transition background 0.3s
    text-decoration none

    background $bg-cultured
    gap set-rem(4px)

    &:hover
      background darken($bg-cultured,10deg)

  &__settings-icon
    width set-rem(24px)
    height set-rem(24px)

  &__settings-title
    set-font(16px, 500)
    color $color-black

.chat-main
  display flex

  background $bg-white
