@import '../../../styles/helpers/index.styl';
.chat-avatar
	display: block;
	width: set-rem(56px);
	height: set-rem(56px);
	border-radius: 50%;
	background: $bg-light-silver;
	overflow: hidden;
	position: relative;

	img
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
