@import '../../../styles/helpers/index.styl'
.profile-header
  display flex
  align-items center
  flex-direction column

  &__avatar
    margin-bottom set-rem(16px)

  &__name
    set-font(16px, 600)
    color $color-black
