@import '../../styles/helpers/index.styl';
.param
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: set-rem(32px);
	padding: set-rem(8px) 0;
	border-bottom: 1px solid rgba(#000000, 0.2);

	&__key
		set-font(16px, 500, 1);

	&__value
		set-font(16px, 300, 1);
		opacity: 0.8;
