@import '../../styles/helpers/index.styl'
.user-logout
  display flex
  align-items center

  padding 4px 16px

  cursor pointer
  transition 0.3s

  background $bg-cultured

  &:hover
    background darken($bg-cultured,10deg)
