@import '../../styles/helpers/index.styl';
.input-field
	display: grid;
	grid-row-gap: set-rem(4px);
	position: relative;

	&__title
		set-font(12px, 300, 1);
		color: $color-spanish-gray;

	&__input
		set-font(16px, 300, 1);
		color: $color-black;
		outline: none;
		border: none;
		border-bottom: 1px solid $color-black;
		transition: border 0.3s, color 0.3s;

		&::placeholder
			set-font(14px, 300, 1);
			color: rgba($color-black, 0.2);

		&:focus
			border-bottom: 1px solid $color-ultramarine-blue;

	&--error &__input
		color: 1px solid $color-deep-carmine-pink;

	&__error
		display: none;
		set-font(8px, 300, 1);
		color: $color-deep-carmine-pink;

	&--error &__error
		display: block;
