@import '../../../styles/helpers/index.styl'
.chat-head
  display flex
  align-items center
  grid-column-gap set-rem(32px)

  flex-wrap wrap

  width 100%

  &__avatar
    font-size set-rem(24px)
    font-weight 500

    display flex
    align-items center
    grid-column-gap set-rem(8px)

  &__controls
    margin-left auto

