@import '../../styles/helpers/index.styl'
.link
  font-size inherit
  font-weight inherit

  transition 0.3s
  text-decoration none

  color inherit

  &:hover
    color $bg-ultramarine-blue

  &[disabled]
    cursor default

    opacity 0.2
    color inherit
