html
body
	font-family: "Nunito", sans-serif;
	font(16px);
	font-style: normal;

h1
	font-family: "Nunito", sans-serif;
	font(72px);
	font-style: normal;

h2
	font-family: "Nunito", sans-serif;
	font(28px);
	font-style: normal;

p
	font-family: "Nunito", sans-serif;
	font(16px);
	font-style: normal;
